html {
  font-family: sans-serif;
  font-family: system-ui, sans-serif;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  background: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
}
main.main {
    padding-top: 40px;
}