---
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList/BlogList.astro";
---

<Layout pageTitle="Welcome to Astro.">
	<main class="main">
		<BlogList />
	</main>
</Layout>

<style></style>
