---
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList/BlogList.astro";
import ShareList from "../components/ShareList/ShareList.astro";
import TilList from "../components/TilList/TilList.astro";
---

<Layout pageTitle="Welcome to tongtong blog.">
	<main class="mt-10">
		<BlogList />
		<ShareList />
		<TilList />
	</main>
</Layout>

<style></style>
