---
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList/BlogList.astro";
import ShareList from "../components/ShareList/ShareList.astro";
---

<Layout pageTitle="Welcome to tongtong blog.">
	<main class="main">
		<BlogList />
		<ShareList />
	</main>
</Layout>

<style></style>
