---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
// console.log(223, Astro.props)
---
<BaseLayout url={frontmatter.url} title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <h3>{frontmatter.date}</h3>
  <slot />
</BaseLayout>